.nav a:hover {
  background-color: gray;
}

a {
  padding: 10px;
}

.nav {
  display: inline-block;
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
}

.nav-item {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  transition: .3s all linear;
}
